.portfolio-container {
    display: flex;
    flex-direction: column;  
    align-items: center;  
    text-align: center;
    font-family: 'Optima', Arial, sans-serif;
    color: #304a69;
    padding-bottom: 25%;
    
}

.portfolio-content p {
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    background-color: #f1f0f0;
    box-shadow: 0px 5px 5px 2px rgba(255, 255, 255, .3);
}

.links-section {
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    background-color: #f1f0f0;
    box-shadow: 0px 5px 5px 2px rgba(255, 255, 255, .3);
}

.portfolio-heading {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #3a506b;
    font-size: 25px;
}
.portfolio-content h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #f1f0f0;
    font-size: 20px;
    text-align: center;
}

.portfolio-image {
    height: 200px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 2px rgba(255, 255, 255, .3);
}

.check-it-out {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    margin-bottom: -5px;
}
.portfolio-item-1, .portfolio-item-2, .portfolio-item-3 {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 8%;
    background: #3a506b;
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, .3);
}

.portfolio-links {
    list-style: none;
    
}

.portfolio-links a{
    color: #3a506b;
    text-decoration: none;
}



@media all and (min-width: 600px){
   
    .portfolio-item-1, .portfolio-item-2, .portfolio-item-3 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 95%;
        padding: 5%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .portfolio-image {
        margin-top: 1.8%;
    }

    .app-description {
        padding-left: 10px;
        padding-right: 10px;
    } 
    .app-description p{
        display: flex;
        flex-direction: column;
        height: 200px;
        padding: 3%;
        align-items: center;
        text-align: justify;
    }

    .app-heading {
        margin-left: -3%;
        margin-right: 2%;
        margin-top: -4%;
        font-size: 30px;
    }

    .links-section{
        margin-top: 1.8%;
    }
}
