.footer-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #000;
    color: white;   
}

.footer-container p {
    padding-top: 10px;
    padding-left: 5px;
}

.footer-container ul {
    list-style: none;
    margin-top: 1%;
    padding-top: 5px;
    padding-right: 10px;
}

.footer-container a {
    color: white;
    font-size: 15px;    
}

@media all and (min-width: 600px) {
    .footer-container{
        padding: 5px;
        font-size: 20px;
    }

    .footer-container a {
        font-size: 25px;
    }
}