.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    background-color: #3a506b;
    color: white;   
    font-size: 10px;
    
}

.footer-container p {
    padding-top: 2px;
    padding-left: 5px;
}

@media all and (min-width: 600px){
    .footer-container{
    font-size: 15px;
}
}